body {
    background-image: url("../images/background2.jpg");
    background-size: cover;
    position: relative;
    height: 100vh;
    width: 100vw;
    top: 0;
    left: 0;
    z-index: -1;
  }
  .menu-content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    background-size: cover;
    padding: 20px;
    z-index: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .menu-item {
    font-family: Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif;
    color: rgb(44, 42, 42);
    border-bottom: 3px solid black;
    font-size: 40px;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 10px 2px;
    cursor: pointer;
    border-radius: 5px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 3;
  }
  .menu {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
  }
  .slide-in-06s {
      opacity: 0;
      transform: translateX(100%);
      animation: slide-in .2s forwards;
  }
  .slide-in-08s { /* Class to make elements of the page slide in from the right. */
    opacity: 0;
    transform: translateX(100%);
    animation: slide-in .8s forwards;
  }
  .slide-in-1s {
      opacity: 0;
      transform: translateX(100%);
      animation: slide-in 1s forwards
  }
  .slide-in-12s {
      opacity: 0;
      transform: translateX(100%);
      animation: slide-in 1.2s forwards;
  }
  .slide-in-14s {
      opacity: 0;
      transform: translateX(100%);
      animation: slide-in 1.4s forwards;
  }
  @keyframes slide-in {
    from {
      opacity: 0;
      transform: translateX();
    }
    to {
      opacity: 1;
      transform: translateX(0%);
    }
  }
  .fade-in {
    opacity: 0;
    transition: opacity 1s;
  }
  .fade-in.show {
    opacity: 1;
  }